@using GoldRush.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="~/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>TNT</title>
</head>
<body>
  <div class="container">
    <h1>TNT</h1>
    <h3>Oh No! You lit a cigarette near some TNT left behind by another miner and accidentally blew yourself up!</h3>

    <form action="/game/new" method="get">
      <button type="submit" name="button" class="btn btn-dark">New Game</button>
    </form>
  </div>
</body>
</html>
