@using GoldRush.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="~/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="stylesheet" href="~/css/winlose.css">
  <title>BLM Policy</title>
</head>
<body>
  <div class="container">
    <h1>BLM Policy</h1>
    <h3>Oh No! You have reach the max amount of digging you're allowed by the BLM! They have shut you down for disturbing too much land.</h3>

    <form action="/game/new" method="get">
      <button type="submit" name="button" class="btn btn-dark">New Game</button>
    </form>
  </div>
</body>
</html>
