@using GoldRush.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<<<<<<< HEAD:Views/Game/Index.cshtml
  <link rel="stylesheet" href="/css/styles.css">
  <title>Stuff!</title>
=======
  <title>Gold Rush</title>
>>>>>>> 0bc564782401619c4ae95ea2168260d57e391bdb:Views/Board.cs/New.cshtml
</head>
<body>
  <table class="game-board">
    @for (var i = 0; i < 10; i++)
    {
      <tr></tr>
      <td>@for (var j = 0; j < 100; j++)
      {
        @if (j % 10 == 0 || j == 0)
        {
        <button>#</button>
        }
      }</td>
    }
<<<<<<< HEAD:Views/Game/Index.cshtml
  </table>
=======

  </div>
>>>>>>> 0bc564782401619c4ae95ea2168260d57e391bdb:Views/Board.cs/New.cshtml
</body>
</html>
