body {
  background: url("../img/tnt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#you-lose {
  margin: 0 auto;
  margin-top: 10vh;
  padding: 10px;
  background-color: rgb(217,199,201, 0.8)
}

h1 {
  font-size: 100px;
  text-align: center;
}

button {
  font: serif;
  margin: 10px;
  width: 200px;
  height: 100px;
  font-size: 30px;
  background-color: #E53802;
  border: solid black;
  color: black;
  text-align: center;
  margin: 0 auto;
  display: block;
}

button:hover {
  background-color: black;
  border: solid #E53802;
  color: #E53802;
}
